/* contenu de la page (bulle) */

section {
    text-align: center;
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 50px 50px 250px 50px;
    margin: 10% 10% 10% 10%;
    border-radius: 10px 100px 100px 100px;
}




/* variable des couleur */

:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#8f8f8f;
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/* couleur visuelle */

body {
    background-color: var(--fond-principal);
}

fieldset {
    background-color: var(--font-contours);
    color: var(--texte-titre);
    border-color: var(--objet-permanent);
    border-radius: 100px;
}

button {
    border-radius: 100px;
    margin: 50px 0px 0px 0px;
    padding: 5px 20px 5px 20px;
    background-color: var(--font-contours);
}

h1 {
    color: var(--texte-titre);
}

h1:active {
    color: var(--objet-clic);
}

h1:hover {
    color: var(--objet-survol);

}

.button_direction {
    display: flex;
    flex-direction: column;
}