/* contenu de la page (bulle) */

.vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section_gauche {
    text-align: center;
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 60px 30px 60px 30px;
    margin: 9% 3% 10% 3%;
    border-radius: 100px 1000px 1000px 1000px;
}

.section_droit {
    text-align: center;
    background-color: var(--font-contenu);
    color: var(--texte-titre);
    padding: 60px 30px 60px 30px;
    margin: 9% 3% 10% 3%;
    border-radius: 1000px 100px 1000px 1000px;
}

h3 {
    padding: 0px 0px 25px 0px;
    font-style: italic;
    font-family: Arial, sans-serif;
    color:var(--texte-titre)
}